
{% block style %}
    {# This is for any additional style. We could look into using css files, but for now this works #}
    <style>
    .cards{
        margin: 0px;
        padding:0px;
    }

    #browsePage{
        background-color: rgb(0, 39, 124);
    }
    </style>
{% endblock %}

{% block body-block %}
<body id="browsepage">
    
{% include 'account/../base.html' %}
{% include 'account/../sidebar.html' %}

<div class="cards">
{% include 'account/../itemcard.html' %}
</div>

</body>
{% endblock %}
