{% extends "account/../base.html" %}
{# adds additional style attribute. Not sure if this would work without the block or not, could try it #}


{% block style %}
    <style>{# lowkey terrible CSS but I just wanted something presentable atm lol #}
    .center {
        margin: auto;
        width: 40%;
        text-align: center;

    }

    h1 {
        padding: 10px;
    }

    div {
        border-style: inset;
        padding: 30px;
    }

    input {
        margin: auto;
        width: 70%;
        text-align: center;
        border-style: groove;
        border-color: darkgray;
        margin-bottom: 5px;
        height: 20px;

    }
    </style>

{% endblock %}
{% block body-block %}
    {# I have kept you js code for now, as without it the base file isnt imported unless you run the django server #}
    {# It should essentially look the same with or without the server rn, so for styling and dev this is good #}
    <div w3-include-html="header.html"></div>
    <script src="includeHeader.js"></script>

    <h1 class="center">Login</h1>
    <div class="center">
        <form method="POST" action="{% url 'user_login' %}">
            {% csrf_token %}
            <p>
                <input type="text" name="username" value="{{ form.data.username }}" placeholder="Username"><br>
                {{ form.username.errors }}
            </p>
            <p>
                <input type="text" name="password" value="{{ form.data.password }}" placeholder="Password"><br>
                {{ form.password.errors }}
            </p>
            <input style="background-color: dimgrey; color: lightgrey" type="submit">
        </form>
    </div>
{% endblock %}


