{# This is the same as login essentially #}

{% extends "account/../base.html" %}
{% block style %}
    <style>
    #signupPage{
        background-color: rgb(139, 173, 192);
        padding:200px;
        padding-bottom: 100%;
        margin-right:-10px;
        margin-left:-10px;
    }

    #name{
        margin-left:20px;
        margin-right:20px;
    }

    .center{
        margin: auto;
        width: 60%;
        text-align: center;
    }

    #title{
        font-size:500%;
        padding: 10px;

    }


    .submitButton{
        height:80px;
        width:200px;
        margin: auto;
        text-align: center;
        border-style:none;
        background-color: dimgray;
        margin-bottom: 5px;
        font-size: 150%;
    }

    .submitButton:hover{
        background-color: rgb(156, 156, 156);
        cursor: pointer;
    }

    .box{
        width:500px;
        height:65px;
        font-size:200%;
        margin-top:20px;
        margin-bottom:20px;
    }

    </style>
{% endblock %}

{% block body-block %}

<div id="signupPage">
    <h1 id="title" class="center">Sign-Up</h1>
    <div class="center">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <p>
                <input id="name" class="box" type="text" class="hori" name="first_name" value="{{ form.data.first_name }}"
                placeholder="First Name">
                {{ form.first_name.errors }}
                <input id="name" class="box" type="text" class="hori" name="last_name" value="{{ form.data.last_name }}"\
                placeholder="Last Name">
                {{ form.last_name.errors }}
            </p>
            <p></p>
            <p>
                <input class="box" type="text" class="allign" name="username" value="{{ form.data.username }}"
                       placeholder="Username">
                {{ form.username.errors }}
            </p>
            <p>
                <inputc lass="box" type="text" class="allign" name="password"
                    placeholder="Password">
                {{ form.password.errors }}
            </p>
            <p>
                <input class="box" type="text" class="allign" name="password_confirm"
                       placeholder="Confirm Password">
                {{ form.password_confirm.errors }}
            </p>
            <p>
                <input class="box" type="text" class="hori" name="email" value="{{ form.data.email }}"
                       placeholder="Email">
                {{ form.email.errors }}
            </p>
            <input class="submitButton" style="color: rgb(255, 255, 255)" class="allign" type="submit">
        </form>
    </div>
</div>
{% endblock %}


