{# This is the same as login essentially #}

{% extends "account/../base.html" %}
{% block style %}
    <style>
        .center {
            margin: auto;
            width: 40%;
            text-align: center;
        }

        h1 {
            padding: 10px;
        }

        div {
            border-style: inset;
            padding: 30px;
        }

        .allign {
            margin: auto;
            width: 70%;
            text-align: center;
            border-style: groove;
            border-color: darkgray;
            margin-bottom: 5px;
            height: 20px;
        }

        .hori {
            text-align: center;
            border-style: groove;
            border-color: darkgray;
            margin-bottom: 5px;
            height: 20px;
        }
    </style>
{% endblock %}

{% block body-block %}
    <div w3-include-html="header.html"></div>
    <script src="includeHeader.js"></script>

    <h1 class="center">Sign-Up</h1>
    <div class="center">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <p>
                <input type="text" class="hori" name="first_name" value="{{ form.data.first_name }}"
                placeholder="First Name">
                {{ form.first_name.errors }}
                <input type="text" class="hori" name="last_name" value="{{ form.data.last_name }}"\
                placeholder="Last Name">
                {{ form.last_name.errors }}
            </p>
            <p></p>
            <p>
                <input type="text" class="allign" name="username" value="{{ form.data.username }}"
                       placeholder="Username">
                {{ form.username.errors }}
            </p>
            <p>
                <input type="text" class="allign" name="password"
                    placeholder="Password">
                {{ form.password.errors }}
            </p>
            <p>
                <input type="text" class="allign" name="password_confirm"
                       placeholder="Confirm Password">
                {{ form.password_confirm.errors }}
            </p>
            <p>
                <input type="text" class="hori" name="email" value="{{ form.data.email }}"
                       placeholder="Email">
                {{ form.email.errors }}
            </p>
            <input style="background-color: dimgrey; color: lightgrey" class="allign" type="submit">
        </form>
    </div>
{% endblock %}


