<!DOCTYPE html>
<html lang="en">
<head>

    {% block style %}
        <style></style>
    {% endblock style %}

    <meta charset="UTF-8">
    {% block title %}
    <title>Index</title>
    {% endblock title %}

</head>
<body>
    {% block header %}
        <header>
            <p>This is our MARKET-PLACE</p>
        </header>
    {% endblock header %}

    {% block nav %}
        <nav>
            <a href="login.html">login</a>
            <a href="signup.html">signup</a>
            <a href="browse.html">Home</a>
        </nav>
    {% endblock nav %}
    {% block body-block %}

    {% endblock %}
    {% block footer %}
        <footer>
        <section style="float: left; width: 25%">
            <p>Himanshu</p>
            <p>Brian</p>
            <p>Jaime</p>
        </section>
        <section style="text-align: center; margin-top: 80%">
            <p> copyright 2020 (c) </p>
        </section>
        <section style="float: right; width: 25%">
            <p>Ph: +1 (123) 456-7890 </p>
            <p>Email: dontemailhere@thisissfake.com</p>
        </section>
    </footer>
    {% endblock footer %}
</body>
</html>