{% block footer %}
    <footer>
        <section style="float: left; width: 25%">
            <p>Himanshu</p>
            <p>Brian</p>
            <p>Jaime</p>
        </section>
        <section style="text-align: center; ">
            <p> copyright 2020 (c) </p>
        </section>
        <section style="float: right; width: 25%">
            <p>Ph: +1 (123) 456-7890 </p>
            <p>Email: dontemailhere@thisissfake.com</p>
        </section>
    </footer>
{% endblock footer %}

<style>
footer{
    margin-bottom:0px;
    margin-top: 500px;;
}
</style>