{% extends "base.html" %}
{% block style %}
    <style>
        .center {
            margin: auto;
            width: 40%;
            text-align: center;

        }
        h1 {
           padding: 10px;
        }
        div {
            border-style: inset;
            padding: 30px;
        }
        input {
            margin: auto;
            width: 70%;
            text-align: center;
            border-style: groove;
            border-color: darkgray;
            margin-bottom: 5px;
            height: 20px;

        }
    </style>

{% endblock %}
{% block body-block %}
    <div w3-include-html="header.html"></div>
    <script src="includeHeader.js"></script>

    <h1 class="center">Login</h1>
    <div class="center">
        <form action="">

            <input type="text" name="username" placeholder="Username"> <br>
            <input type="text" name="password" placeholder="Password"> <br>
            <input style="background-color: dimgrey; color: lightgrey" type="submit">

        </form>
    </div>
{% endblock %}


