{# This is the same as login essentially #}

{% extends "base.html" %}
{% block style %}
    <style>
        .center {
            margin: auto;
            width: 40%;
            text-align: center;

        }

        h1 {
            padding: 10px;
        }

        div {
            border-style: inset;
            padding: 30px;
        }

        .allign {
            margin: auto;
            width: 70%;
            text-align: center;
            border-style: groove;
            border-color: darkgray;
            margin-bottom: 5px;
            height: 20px;

        }

        .hori {
            text-align: center;
            border-style: groove;
            border-color: darkgray;
            margin-bottom: 5px;
            height: 20px;
        }

    </style>
{% endblock %}
{% block body-block %}
    <div w3-include-html="header.html"></div>
    <script src="includeHeader.js"></script>

    <h1 class="center">Sign-Up</h1>
    <div class="center">
        {% if registered %}
            <h2>Thank you for registering!</h2>
        {% else %}
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input style="background-color: dimgrey; color: lightgrey" class="allign" type="submit">
            </form>
        {% endif %}
    </div>
{% endblock %}


